{% extends 'LibrariumBundle::layout.html.twig' %}

{% block title 'Librarium Libros' %}

{% block content %} 

  <h3>Contactenos</h3>
  Calle 35 22-32 Of. 201 <br/>
  Bucaramanga, Santander. <br/>
  Tel: 300.561.2591  </br>
  Email: <a href="mailto:libros@librarium.com.co">libros@librarium.com.co</a>
       
{% endblock %}  