<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
    <link href="{{ asset('bundles/librarium/css/common.css') }}" rel="stylesheet" type="text/css" media="all" />
    {% block javascripts %}
      {% javascripts 
      'bundles/librarium/js/ext/jquery-1.8.0.min.js' 
      'bundles/librarium/js/ext/jquery-ui.js'
      'bundles/librarium/js/ext/jquery.slides.min.js' %}
      <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="main">
      <div id="header" class="content">        
      </div>
      <div class="content">
        <div id="menu" class="">
          <a href=""><span class="menu_item menu_item_active">Inicio</span></a>
          <a href="contacto"><span class="menu_item">Contactenos</span></a>
        </div>         
    	   {% block content %} {% endblock %}             
      </div>
    </div>
    <div class="footer content">
          <span>Librarium Libros &nbsp;&nbsp&nbsp;&nbsp Calle 35 22-32 Of. 201 &nbsp;&nbsp Bucaramanga, Santander.
          &nbsp;&nbsp; Tel: 300.561.2591 &nbsp;&nbsp;&nbsp;&nbsp <a href="mailto:libros@librarium.com.co">libros@librarium.com.co</a>
          </span>
    </div>
  </body>
</html>
